<nav class="d-flex">
  <a href='/'>Add</a>
  <a href='/home'>Home</a>
  <a href='/allQuotes'>All Quotes</a>
  <a href='/americanAuthors'>American Authors</a>
  <a href='/femaleAuthors'>Female Author</a>
  <a href='/inspirational'>Inspirational</a>
  <a href='/lifeQuotes'>Life Quotes</a>
  <a href='/nonusa'>Non-American Authors</a>
  <a href='/quotesT'>Quotes starting with T</a>
  <a href='/likes'>Quotes with Likes</a>
</nav>