<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <header>
        <h1>
            Add
        </h1>
    </header>
    <div class='card add'>
      <a class='btn btn-primary' href='/author/new'>Add Author</a>
      <a class='btn btn-primary' href='/quote/new'>Add Quotes</a>
      <a class='btn btn-primary' href='/authors'>All Authors</a>
    </div>
</body>
</html>