.grid-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}

header {
  padding: 2rem;
  box-shadow: 2px 2px 10px;
  margin: 1%;
  border-radius: 0.5rem;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

nav{
  justify-content: space-evenly;
  padding: 30px;
  background: white;
  margin: 1%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

img {
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
}

body{
  background-color: aliceblue;
}

.card {
  padding: 20px;
  margin: 20px;
  border-radius: 0.5rem;
}

h1 {
  text-align: center;
}

.left-align {
  width: inherit;
  text-align: left;
}


.flexBox {
  display: flex;
  justify-content: space-between;
}

.row {
  margin: auto;
  padding: 10px;
}

.like {
  max-width:7vw;
}

.addAuthor .addQuote{
  width: max-content;
  margin: auto;
}

.add {
  width: fit-content;
  margin: auto;
}

.btn {
  margin: 5px;
}

#authorInfo {
  padding: 2rem;
}

.editImg, .deleteImg{
  margin-left: 1rem;
  margin-right: 1rem;
}

#authorImg {
  margin-left: 1rem;
  margin-right: 1rem;
}

textarea {
  width: 70vw;
}